# Importing libraries

In [1]:
import pandas as pd
import numpy as np
import os

# Importing data sets

In [2]:
# Defining path
path = r'C:\Users\zunai\OneDrive\Documents\Data Analytics\Achivement 4\11-22 Instacart Basket Analysis'

In [3]:
#3. Importing 'orders_products_combined.pkl'
df_ords_prods_comb = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared data', 'orders_products_combined.pkl'))

In [4]:
df_ords_prods_comb.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,999.0,196,1,0,both
1,2539329,1,1,2,8,999.0,14084,2,0,both
2,2539329,1,1,2,8,999.0,12427,3,0,both
3,2539329,1,1,2,8,999.0,26088,4,0,both
4,2539329,1,1,2,8,999.0,26405,5,0,both

In [5]:
#4. Check shape of imported datframe
df_ords_prods_comb.shape

(32434489, 10)

In [6]:
# Importing products_checked data set
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared data', 'products_checked.csv'), index_col = False)

In [8]:
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [9]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [10]:
df_prods.shape

(49672, 5)

# Merging df_ords_prods_comb and df_prods

In [11]:
#5. Delete merge column from df_ords_prods_comb
df_ords_prods_comb = df_ords_prods_comb.drop(columns = ['_merge'])

In [12]:
df_ords_prods_comb.shape

(32434489, 9)

In [13]:
df_ords_prods_merged = df_ords_prods_comb.merge(df_prods, on = 'product_id', indicator = True)

In [14]:
#6. Confirm the results of the merge using the merge flag
df_ords_prods_merged.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,999.0,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [15]:
df_ords_prods_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [16]:
df_ords_prods_merged.shape

(32404859, 14)

In [17]:
#7. Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size)
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))